<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "Joezer", root_path, class: "navbar-item" , style: "color: white; font-weight: bold; font-size: 30px"%>
      <%= link_to "About", about_path, class: "navbar-item" %>
      <%= link_to "Customers", customers_path, class: "navbar-item" %>
      <%= link_to "Products", products_path, class: "navbar-item" %>
    </div>

    <!-- Hamburger menu for mobile -->
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMenu" class="navbar-end" style="margin-top:10px; margin-right: 10px;">

    <%= form_with url: products_path, class: "control", method: :get, local: true do %>
      <%= text_field_tag :query, params[:query], class:"input", placeholder: "Search Product Names", style:"width: 300px; height: 37px" %>

      <%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :category, params[:category_id]), include_blank: "All Categories", class:"dropdown-content" %>
      <%= submit_tag "Filter" , class: "button is-primary" , style:"height: 37px"%>
    <% end %>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const burgers = Array.from(document.querySelectorAll('.navbar-burger'));
    burgers.forEach(burger => {
      burger.addEventListener('click', () => {
        const target = document.getElementById(burger.dataset.target);
        burger.classList.toggle('is-active');
        target.classList.toggle('is-active');
      });
    });
  });
</script>
