<link rel="stylesheet" href="style.css">


<h1 class="title is-1">Customers</h1>

<%= form_with url: customers_path, method: :get, local: true do %>
  <%= text_field_tag :customer_query, params[:customer_query], placeholder: "Search Customer Name" , class:"input", style:"border: 2px solid grey; width: 300px; margin-left: 113px"%>
  <%= submit_tag "Search", class: "button is-link"%>
<% end %>


<%# <style>
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse; /* This makes sure borders are not doubled */
  }
  th, td {
    padding: 8px;
  }
</style> %>
<div class="table">
  <table class="table is-striped is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.id%></td>
          <td><%= link_to customer.full_name, customer_path(customer)%></td>
          <td><%= customer.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>
