<h1 class="title is-1"><%= @product.name %></h1>

  <div style="width: 320px; margin-left: 20px">
    <table class="table is-striped is-hoverable is-fullwidth">
      <tr>
        <th>Description</th>
            <%unless @product.description.blank?%>
            <td><%= @product.description %></td>
            <%else%>
            <td>No Description</td>
            <%end%>
      </tr>

      <tr>
        <th>Price</th>
        <td><%= number_to_currency(@product.price) %></td>
      </tr>
      <tr>
        <th>Stock Quantity</th>
        <td><%= @product.stock_quantity %></td>
      </tr>
      <tr>
        <th>Category</th>
        <td><%= @product.category.category %></td>
      </tr>
    </table>
  </div>
  <br>
<%= link_to "Go back", :back, class: "button is-link", style:"margin-left:250px;" %>

